/* FONTS 

Cardo
.cardo-regular {
    font-family: "Cardo", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .cardo-bold {
    font-family: "Cardo", serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .cardo-regular-italic {
    font-family: "Cardo", serif;
    font-weight: 400;
    font-style: italic;
  }
  
  Parisienne
  .parisienne-regular {
  font-family: "Parisienne", cursive;
  font-weight: 400;
  font-style: normal;
}

Taviraj
.taviraj-thin {
  font-family: "Taviraj", serif;
  font-weight: 100;
  font-style: normal;
}

.taviraj-extralight {
  font-family: "Taviraj", serif;
  font-weight: 200;
  font-style: normal;
}

.taviraj-light {
  font-family: "Taviraj", serif;
  font-weight: 300;
  font-style: normal;
}

.taviraj-regular {
  font-family: "Taviraj", serif;
  font-weight: 400;
  font-style: normal;
}

.taviraj-medium {
  font-family: "Taviraj", serif;
  font-weight: 500;
  font-style: normal;
}

.taviraj-semibold {
  font-family: "Taviraj", serif;
  font-weight: 600;
  font-style: normal;
}

.taviraj-bold {
  font-family: "Taviraj", serif;
  font-weight: 700;
  font-style: normal;
}

.taviraj-extrabold {
  font-family: "Taviraj", serif;
  font-weight: 800;
  font-style: normal;
}

.taviraj-black {
  font-family: "Taviraj", serif;
  font-weight: 900;
  font-style: normal;
}

.taviraj-thin-italic {
  font-family: "Taviraj", serif;
  font-weight: 100;
  font-style: italic;
}

.taviraj-extralight-italic {
  font-family: "Taviraj", serif;
  font-weight: 200;
  font-style: italic;
}

.taviraj-light-italic {
  font-family: "Taviraj", serif;
  font-weight: 300;
  font-style: italic;
}

.taviraj-regular-italic {
  font-family: "Taviraj", serif;
  font-weight: 400;
  font-style: italic;
}

.taviraj-medium-italic {
  font-family: "Taviraj", serif;
  font-weight: 500;
  font-style: italic;
}

.taviraj-semibold-italic {
  font-family: "Taviraj", serif;
  font-weight: 600;
  font-style: italic;
}

.taviraj-bold-italic {
  font-family: "Taviraj", serif;
  font-weight: 700;
  font-style: italic;
}

.taviraj-extrabold-italic {
  font-family: "Taviraj", serif;
  font-weight: 800;
  font-style: italic;
}

.taviraj-black-italic {
  font-family: "Taviraj", serif;
  font-weight: 900;
  font-style: italic;
}
  
  */

body,
header,
main,
footer,
h1,
h2,
h3,
p,
a,
hr {
  margin: 0;
  list-style: none;
  text-decoration: none;
}

html,
body {
  height: 100%;
}

body {
  background: var(--bg);
  display: flex;
  flex-direction: column;
  color: var(--black);
}

main {
  background: var(--bg);

  position: relative;
  justify-content: center;
  align-items: center;
  flex: 1;
}

hr {
  color: #c4c4c4;
}

hr.bottom {
  margin-top: 64px;
}

.rsvp-button {
  width: 240px;
  text-align: center;
  margin-top: 1em;
  font-weight: 500;
  font-size: 1.2em !important;
  text-transform: uppercase;
}

/* ----------------------------------------
----------------HEADER------------------ 
---------------------------------------- */

header {
  background: var(--bg);
  padding: 20px 0;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

header div {
  display: flex;
}

div.title {
  flex-grow: 1;
  text-align: center;
  flex-direction: column;
  justify-content: center; /* Centre verticalement les éléments */
  align-items: center; /* Centre horizontalement les éléments */
}

div.buttons,
div.contact {
  width: 30%;
}

div.buttons {
  justify-content: flex-end;
}

div.contact div {
  display: flex;
}

div.contact {
  align-items: center;
}

.contact > div:nth-of-type(-n + 2) a {
  font-size: 24px;
  color: var(--black);
  margin-right: 16px;
}

div.contact p {
  margin-right: 2em;
}

/* ----------------------------------------
----------------MAIN------------------ 
---------------------------------------- */

/* Section First */

section.first {
  background: var(--primaryDarkest);
  height: 600px;
  color: var(--bg);
}

section.first {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10em;
}

section.first div {
  display: flex;
  flex-direction: column;
}

@keyframes fadeInAndSlideRight {
  0% {
    opacity: 0;
    transform: translateX(-80%);
  }
  40% {
    opacity: 1;
  }
  45% {
    transform: translateX(-80%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.illustration {
  width: 500px;
  margin-top: 16px;

  animation: fadeInAndSlideRight 2s forwards ease-out;
}

div.texts {
  display: flex;
  flex-direction: column;
  gap: 2em;
  width: 30%;

  opacity: 0;
  animation: fadeIn 1.5s forwards 1.2s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

div.texts h1 {
  font-size: 3em;
}

div.texts h2 {
  font-weight: 400;
}

div.texts h3 {
  font-size: 2em;
  font-family: "Parisienne", cursive;
  font-weight: 400;
  font-style: normal;
}

div.texts p {
  font-family: rosarivo;
}

div.part1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Section Second */

section.second {
  display: flex;
  flex-direction: column;
  gap: 3em;
  margin-top: 3em;
  justify-content: center;
  align-items: center;
}

section.second h1 {
  font-size: 2em;
  text-transform: uppercase;
}

div.card object {
  width: 100px;
}

div.card h2 {
  margin: 1em 0;
}

div.card li {
  display: flex;
  justify-content: center;
  align-items: center;
}

div.card-container-table li {
  font-size: 1.2em;
}

/* ----------------------------------------
----------------CARDS------------------ 
---------------------------------------- */

div.card-container {
  display: flex;
  justify-content: center;
  gap: 1em;
}

div.card-container-table {
  display: flex;
  justify-content: center;
  gap: 1em;
  flex-wrap: wrap;
  margin: 0 10em;
}

div.card {
  border-top: 4px solid var(--primaryDarkest);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 64px 16px;
  width: 325px;
  text-align: center;
  box-shadow: 0 2px 5px rgba(46, 60, 64, 0.2);
}

.menu {
  padding: 64px !important;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

li {
  margin: 20px 0;
}

i {
  color: var(--black);
  padding-right: 1em;
}

div.card-top {
  margin-bottom: 1em;
}

div.card-top span {
  font-size: 3em;
}

div.card a {
  color: var(--primary);
}

div.card a:hover {
  color: var(--primaryDarkest);
}

/* ----------------------------------------
----------------TEXTS------------------ 
---------------------------------------- */

h1,
h2,
h3 {
  font-family: "Cardo", serif;
  font-weight: 700;
  font-style: normal;
}

p,
button,
span,
a {
  font-family: "Taviraj", serif;
  font-weight: 400;
  font-style: normal;
}

/* i{
    font-family: "Taviraj", serif !important;
    font-weight: 400 !important;
    font-style: normal !important;
} */

p.special {
  font-family: "Parisienne", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 1.5em;
  margin: 0;
  text-align: center;
}

h1.special {
  margin: 0;
  font-size: 3em;
}

/* ----------------------------------------
----------------BUTTONS------------------ 
---------------------------------------- */

/* Button Languages */

.switch {
  position: relative;
  display: inline-block;
  margin: 0 5px;
}

.switch > a {
  position: absolute;
  top: 7px;
  pointer-events: none;
  /* font-family: 'Helvetica', Arial, sans-serif; */
  font-weight: 700;
  font-size: 16px;
  text-transform: uppercase;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.06);
  width: 50%;
  text-align: center;
}

input.check-toggle-round-flat:checked ~ .off {
  color: var(--primaryDarkest);
}

input.check-toggle-round-flat:checked ~ .on {
  color: var(--bg);
}

.switch > a.on {
  left: 0;
  padding-left: 2px;
  color: var(--primaryDarkest);
}

.switch > a.off {
  right: 0;
  padding-right: 4px;
  color: var(--bg);
}

.check-toggle {
  position: absolute;
  margin-left: -9999px;
  visibility: hidden;
}
.check-toggle + label {
  display: block;
  position: relative;
  cursor: pointer;
  outline: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

input.check-toggle-round-flat + label {
  padding: 2px;
  width: 97px;
  height: 35px;
  -webkit-border-radius: 60px;
  -moz-border-radius: 60px;
  -ms-border-radius: 60px;
  -o-border-radius: 60px;
  border-radius: 60px;
}
input.check-toggle-round-flat + label:before,
input.check-toggle-round-flat + label:after {
  display: block;
  position: absolute;
  content: "";
}

input.check-toggle-round-flat + label:before {
  top: 2px;
  left: 2px;
  bottom: 2px;
  right: 2px;
  background-color: var(--primaryDarkest);
  -webkit-moz-border-radius: 60px;
  -ms-border-radius: 60px;
  -o-border-radius: 60px;
  border-radius: 60px;
}
input.check-toggle-round-flat + label:after {
  top: 4px;
  left: 4px;
  bottom: 4px;
  width: 48px;
  background-color: var(--bg);
  -webkit-border-radius: 52px;
  -moz-border-radius: 52px;
  -ms-border-radius: 52px;
  -o-border-radius: 52px;
  border-radius: 52px;
  -webkit-transition: margin 0.2s;
  -moz-transition: margin 0.2s;
  -o-transition: margin 0.2s;
  transition: margin 0.2s;
}

/* input.check-toggle-round-flat:checked + label {
} */

input.check-toggle-round-flat:checked + label:after {
  margin-left: 44px;
}

/* Buttons basic */

.basic {
  background: var(--bg);
  color: var(--primaryDarkest);
  border: none;
  border-radius: 5px;
  padding: 6px 10px;
  font-size: 18px;
  margin: 5px;
  cursor: pointer;
}

.basic:hover {
  background: var(--bg);
  color: var(--primary);
  border-color: var(--primary);
}

.basic:active {
  background: var(--bg);
  color: var(--primaryLight);
  border-color: var(--primaryLight);
}

/* Buttons outline */

.outline {
  background: var(--bg);
  color: var(--primaryDarkest);
  border: 1px solid var(--primaryDarkest);
  font-size: 1em;
  border-radius: 5px;
  padding: 3px 10px;
}

.outline:hover {
  background: var(--bg);
  color: var(--primaryDark);
  border-color: var(--primaryDark);
}

.outline:active {
  background: var(--bg);
  color: var(--primary);
  border-color: var(--primary);
}

/* Buttons outline WHITE*/

.outline-white {
  background: var(--primaryDarkest);
  border: 1px solid var(--bg);
  font-size: 1em;
  border-radius: 5px;
  padding: 3px 10px;
  color: var(--bg);
}

.outline-white:hover {
  background: rgba(243, 243, 243, 0.2);
}

.outline-white:active {
  background: rgba(243, 243, 243, 0.5);
}

/* Buttons flat */

.flat {
  background: var(--primaryDarkest);
  color: var(--bg);
  border: none;
  font-size: 1em;
  border-radius: 5px;
  padding: 3px 10px;
}

.flat:hover {
  background: var(--primaryDark);
  color: var(--bg);
}

.flat:active {
  background: var(--primary);
  color: var(--bg);
}

/* Buttons bezel */

.bezel {
  /* background-image: linear-gradient(to bottom, var(--bg), var(--disableBody)); */
  background-color: var(--bg);
  color: var(--black);
  border: none;
  font-size: 1em;
  border-radius: 5px;
  padding: 3px 10px;
  border: 1px solid var(--bg);
}

.bezel:hover {
  /* background-image: linear-gradient(to bottom, var(--primary), var(--primaryDark)); */
  background-color: rgb(201, 201, 201);
}

.bezel:active {
  /* background-image: linear-gradient(to bottom, var(--primaryDark), var(--primaryDarkest)); */
  background-color: rgb(170, 170, 170);
}

/* Buttons disable */

.disable {
  background: var(--bg);
  color: var(--disableText);
  border: none;
  border-radius: 5px;
  padding: 6px 10px;
  font-size: 18px;
  margin: 5px;
  cursor: default;
}

/* ----------------------------------------
----------------FOOTER------------------ 
---------------------------------------- */

footer {
  background-color: var(--bg);
  padding: 24px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

/* ----------------------------------------
----------------PAGE-LOGEMENTs------------------ 
---------------------------------------- */

div.logement-container {
  display: flex;
  flex-wrap: wrap;
  gap: 64px;
  width: 1028px;
  align-items: center;
  justify-content: center;
}

div.logement {
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

div.logement a {
  margin-top: 1em;
}

section.second object {
  width: 100px;
  margin-top: 1em;
}

.logement p,
.logement h3 {
  text-align: center;
}

.logement h3 {
  text-transform: uppercase;
}

/* STARS */

i.star {
  margin: 0;
  padding: 2px;
}

/* ----------------------------------------
----------------PAGE-RSVP------------------ 
---------------------------------------- */

.teQAzf {
  width: 1100px !important;
}

.form {
  box-shadow: 0 2px 5px rgba(46, 60, 64, 0.4);
  border-radius: 10px;
  height: 500px;
}

/* ----------------------------------------
----------------RESPONSIVE------------------ 
---------------------------------------- */

@media only screen and (min-width: 3840px) {
  @keyframes fadeInAndSlideRight {
    0% {
      opacity: 0;
      transform: translateX(-110%);
    }
    40% {
      opacity: 1;
    }
    45% {
      transform: translateX(-110%);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }
}

@media only screen and (min-width: 2560px) {
  div.texts {
    width: 25%;
  }

  div.logement-container {
    width: 2000px;
    gap: 120px;
  }

  div.logement {
    width: 500px;
  }

  div.logement h3 {
    font-size: 1.5em;
  }

  div.logement p {
    font-size: 1.5em;
  }

  @keyframes fadeInAndSlideRight {
    0% {
      opacity: 0;
      transform: translateX(-80%);
    }
    40% {
      opacity: 1;
    }
    45% {
      transform: translateX(-80%);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }
}

@media only screen and (min-width: 1080px) {
  div.contact {
    flex-direction: initial;
  }

  @keyframes fadeInAndSlideRight {
    0% {
      opacity: 0;
      transform: translateX(-75%);
    }
    40% {
      opacity: 1;
    }
    45% {
      transform: translateX(-75%);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }
}

@media only screen and (max-width: 1280px) {
  div.title {
    flex-grow: 0;
  }

  div.contact {
    flex-direction: column;
  }

  div.texts {
    width: 40%;
  }

  section.second {
    width: 100%;
  }

  div.card-container {
    flex-wrap: wrap;
  }

  @keyframes fadeInAndSlideRight {
    0% {
      opacity: 0;
      transform: translateX(-70%);
    }
    40% {
      opacity: 1;
    }
    45% {
      transform: translateX(-70%);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }
}

/* PHONES */

@media only screen and (max-width: 500px) {
  html {
    height: 90%;
  }

  .illustration,
  div.texts {
    animation: none; /* Désactive l'animation */
    opacity: 1;
  }

  header {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  div.contact {
    width: 300px;
    margin-top: 1em;
    flex-direction: column;
  }

  div.contact div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 6px 0;
  }

  div.buttons {
    position: fixed;
    bottom: 0;
    justify-content: center;
    width: 100%;
    background-color: var(--bg);
    z-index: 9999;
    /* border-top: 1px solid var(--primaryDarkest); */
    box-shadow: 0 -5px 10px rgba(0, 0, 0, 0.3);
  }

  div.buttons a {
    width: 30%;
    text-align: center;
    margin: 0;
    border-radius: 0;
  }

  div.buttons a:nth-child(1),
  div.buttons a:nth-child(2) {
    border-right: 1px solid var(--primaryDarkest);
  }

  div.buttons a:active {
    background-color: rgba(138, 58, 34, 0.15);
    color: var(--primaryDarkest);
  }

  /* section.second h1 {
    width: 90%;
  } */

  div.form iframe {
    width: 360px;
  }

  div.logement-container {
    width: auto;
  }

  section.first {
    flex-direction: column-reverse;
    width: auto;
    height: auto;
    gap: 2em;
    padding: 3em 1em;
  }

  div.img object {
    width: 100px;
  }

  div.card li {
    margin: 8px 0;
  }

  .card-top {
    margin: 0 !important;
  }

  .card_illu {
    margin: 0 !important;
  }

  .illustration {
    width: 350px;
  }

  div.texts {
    width: auto;
    text-align: center;
  }

  div.texts div {
    align-items: center;
  }

  div.texts h1 {
    font-size: 36px;
    text-align: center;
  }

  div.texts strong {
    margin-left: 0 !important;
  }

  section.second {
    flex-direction: column;
    width: auto;
    height: auto;
    gap: 2em;
    text-align: center;
  }

  div.card-container {
    flex-direction: column;
  }

  div.card {
    padding: 24px 6px;
  }

  footer {
    display: none;
  }
}
